<!DOCTYPE HTML>

<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Cake shop admin</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h3>
    <a th:href="@{/admin-panel/admin-menu}"><- Menu</a>
</h3>
<table border="1" cellpadding="2" class="table table-striped">
    <thead>
    <tr>
        <th>Cake's name</th>
        <th>Price</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="cake : ${cakes}">
        <td th:text="${cake.name}"></td>
        <td th:text="${cake.price}"></td>
        <td>
            <form action="#" method="get" th:action="@{/admin-panel/cake/{id}(id=${cake.id})}">
                <input type="submit" value="More Info"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<form action="#" method="get" th:action="@{/admin-panel/admin-get-cake/edit}">
    <input type="submit" value="Add"/>
</form>
</body>
</html>